{:module-uris {:main [], :code-editor ["static/js/code-editor.js"], :age-encryption ["static/js/age-encryption.js"], :excalidraw ["static/js/excalidraw.js"]}, :module-infos {:main nil, :code-editor #{:main}, :age-encryption #{:main}, :excalidraw #{:main}}}